<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <div class="section-title position-relative mb-5">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Course Detail</h6>
                        <h1 class="display-4">{{course.name}}</h1>
                    </div>
                    <img class="img-fluid rounded w-100 mb-4" src="assets/img/header.jpg" alt="Image">
                    
                    <p>{{course.description}}</p>
                </div>

                
           </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="bg-primary mb-5 py-3">
                    <h3 class="text-white py-3 px-4 m-0">Course Features</h3>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Teacher</h6>
                        <h6 class="text-white my-3">{{course.teacherId.fName}} {{course.teacherId.lName}}</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Duration</h6>
                        <h6 class="text-white my-3">{{course.duration}} months</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">number of students</h6>
                        <h6 class="text-white my-3">{{course.studentIds.length}}</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
