<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">
</head>

<body>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <!-- Back to Top 
      <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i
          class="fa fa-angle-double-up"></i></a>-->



</body>

</html>