
<table class="table custom-table" >
    <thead>
      <tr>
        <th >Id</th>
        <th>name</th>
        <th>email</th>
        <th>subject</th>
        <th>message</th>
        <th>statut</th>
        <th>actions</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts"> 
        <td><strong >{{contact._id}}</strong></td>
        <td><strong >{{contact.name}}</strong></td>
        <td><strong >{{contact.email}}</strong></td>
        <td><strong >{{contact.subject}}</strong></td>
        <td><strong >{{contact.message}}</strong></td>
        <td><strong >{{contact.statut}}</strong></td>
        
       
        <td>
            <button type="button" class="btn btn-danger" (click)="delete(contact._id)">Delete</button>
        </td>
        
      </tr>
      
     
    </tbody>
  </table>

